### Name: Nipun Singh
### Roll no: RK20CHB38
### Section: K20CH

In [1]:
import pandas as pd
import numpy as np

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
data=pd.read_csv("combined.csv")
data

,userId,displayName,userUrl,joinDate,joinTime,comp_tier,dataset_tier,notebook_tier,discuss_tier,final_tier,...,comp_BronzeMedals,dataset_GoldMedals,dataset_SilverMedals,dataset_BronzeMedals,notebook_GoldMedals,notebook_SilverMedals,notebook_BronzeMedals,discuss_GoldMedals,discuss_SilverMedals,discuss_BronzeMedals
0,708283,bestfitting,/bestfitting,07-09-2016,39:04.8,1,Unranked,Unranked,3,1,...,1,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,16,16,132
1,1424766,Dieter,/christofhenkel,17-11-2017,39:22.3,1,3,1,1,1,...,3,0,1,7,18,6,5,121,125,512
2,478989,Guanshuo Xu,/wowfattie,02-12-2015,40:13.5,1,Unranked,Unranked,3,1,...,2,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,19,10,111
3,37166,Psi,/philippsinger,29-03-2012,12:46.3,1,Unranked,3,1,1,...,0,Unranked,Unranked,Unranked,2,3,9,138,205,1055
4,448347,Qishen Ha,/haqishen,22-10-2015,50:34.2,1,Unranked,2,2,1,...,2,Unranked,Unranked,Unranked,10,7,1,53,34,230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16605,220074,Levin Kuhlmann,/levink,31-07-2014,41:42.0,Unranked,Unranked,Unranked,3,3,...,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,3,1,57
16606,317687,WhizWilde,/wildwizard,24-03-2015,04:53.3,Unranked,Unranked,Unranked,3,3,...,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,0,2,148
16607,886737,geher,/gw00207,27-01-2017,53:19.6,Unranked,Unranked,Unranked,3,3,...,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,0,2,62
16608,10035,Net Prophet,/srt19170,20-04-2011,05:54.9,Unranked,Unranked,Unranked,3,3,...,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,1,5,61
16609,100371,Adam,/adamwoz,09-05-2013,08:37.7,Unranked,Unranked,Unranked,3,3,...,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,Unranked,1,6,47

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16610 entries, 0 to 16609
Data columns (total 30 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   userId                   16610 non-null  int64
 1   displayName              16610 non-null  object
 2   userUrl                  16610 non-null  object
 3   joinDate                 16610 non-null  object
 4   joinTime                 16610 non-null  object
 5   comp_tier                16610 non-null  object
 6   dataset_tier             16610 non-null  object
 7   notebook_tier            16610 non-null  object
 8   discuss_tier             16610 non-null  object
 9   final_tier               16610 non-null  object
 10  comp_currentRanking      16610 non-null  object
 11  dataset_currentRanking   16610 non-null  object
 12  notebook_currentRanking  16610 non-null  object
 13  discuss_currentRanking   16610 non-null  object
 14  comp_points              16610 non-null  object
 15  dataset_points           16610 non-null  object
 16  notebook_points          16610 non-null  object
 17  discuss_points           16610 non-null  object
 18  comp_GoldMedals          16610 non-null  object
 19  comp_SilverMedals        16610 non-null  object
 20  comp_BronzeMedals        16610 non-null  object
 21  dataset_GoldMedals       16610 non-null  object
 22  dataset_SilverMedals     16610 non-null  object
 23  dataset_BronzeMedals     16610 non-null  object
 24  notebook_GoldMedals      16610 non-null  object
 25  notebook_SilverMedals    16610 non-null  object
 26  notebook_BronzeMedals    16610 non-null  object
 27  discuss_GoldMedals       16610 non-null  object
 28  discuss_SilverMedals     16610 non-null  object
 29  discuss_BronzeMedals     16610 non-null  object
dtypes: int64(1), object(29)
memory usage: 3.8+ MB

In [15]:
data[data['dataset_tier']=='Unranked'].value_counts().sum()

14574

In [17]:
data[data['dataset_currentRanking']=='Unranked'].value_counts().sum()

12822

In [18]:
data[data['notebook_BronzeMedals']=='Unranked'].value_counts().sum()

12803

In [19]:
data[data['discuss_tier']=='Unranked'].value_counts().sum()

14007

In [3]:
data.info()

NameError: name 'data' is not defined